h1 { color:red }
label { color:blue }
.purple_color { color:purple }
.red_bold {color:red; font-weight: bold; }
#id_iq_label {color:black;font-weight: bold}
#b_date_label_id {color:orange; font-weight: bold;
                  text-decoration: underline;}
h1:hover {color:red; cursor: cell}
#id_iq_label:hover {color:red}
label:hover { color:green; text-decoration:underline; 
                  cursor: grab}
